<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Recipe App</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-light bg-light navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href={{ url_for('home') }} class="navbar-brand">
        <img src="{{image_path}}/images/grocery-icon.svg" alt="logo">
        <span>GroceryApp</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.endpoint != None %}
      <li class="nav-item"><a class="nav-link" href={{ url_for('index_recipes') }}>Recipes</a></li>
      {% endif %}
      {% if not g.user %}
      <li class="nav-item"><a class="nav-link" href={{ url_for('signup') }}>Sign up</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('login') }}>Log in</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href={{ url_for('index_carts') }}>Carts</a></li>
      <li class="nav-item"><span class="nav-link">{{ g.user.username}}</span></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('new_cart') }}>New Cart</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('logout') }}>Log out</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container-fluid">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% block content %}
  {% endblock %}

</div>
{% block scripts %}
{% endblock %}
</body>
</html>