{% from 'macros.html' import render_difficulty, render_spice_level, create_select_option, create_radio_option %}
{% extends 'base.html' %}

{% block content %}
<hr class="mt-0">
<h1 class="text-center">My Cart</h1>

<div class="container">
  {% if g.cart %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{g.cart.name}}</h5>
        <p class="card-text">
          <ul class="list-group">
            {% for qty, recipe in curr_cart_recipes %}
              <li class="list-group-item">
                <form class="cart-form" action="/carts/recipe/{{recipe.id}}/edit" method="POST">
                  <input type="number" name="quantity" id="quantity" min="1" max="5" value="{{qty}}">
                  &times
                  <a href="/recipes/{{recipe.id}}">{{recipe.title}}</a>
                  <button class="btn btn-sm btn-outline-secondary">Update</button>
                </form>
                <form class="cart-form" action="/carts/recipe/{{recipe.id}}/delete" method="POST">
                  <button class="btn btn-sm btn-outline-danger">Remove</button>
                </form>
              </li>
            {% endfor %}
          </ul>
          <form class="cart-form" action={{url_for('checkout', cart_id=g.cart.id)}}>
            <button class="btn btn btn-success" href={{url_for('checkout', cart_id=g.cart.id)}}>Generate Grocery List!</button>
          </form>
          <form class="cart-form" action="/carts/{{g.cart.id}}/delete" method="POST">
            <button class="btn btn-danger">Delete Cart</button>
          </form>
        </p>
      </div>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">No Active Cart</h5>
      </div>
    </div>
  {% endif %}

  <hr class="mt-0">
  <h3 class="text-center">Saved for Later</h3>

  {% if incomplete_carts %}
    <div class="row">
      {% for cart, contents in incomplete_carts %}
        {% if cart.id != g.cart.id %}
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{cart.name}}</h5>
              <p class="card-text">
                <ul class="list-group">
                  {% for qty, recipe in contents %}
                    <li class="list-group-item text-truncate">
                      {{qty}} &times {{recipe}}...
                    </li>
                  {% endfor %}
                </ul>
              </p>
              <form class="cart-form" action="/carts/{{cart.id}}/activate" method="POST">
                <button class="btn btn-sm btn-info">Activate Cart</button>
              </form>
              <form class="cart-form" action="/carts/{{cart.id}}/delete" method="POST">
                <button class="btn btn-sm btn-danger">Delete Cart</button>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">No Carts Saved for Later</h5>
    </div>
  </div>
  {% endif %}
  <hr class="mt-0">
  <h3 class="text-center">Completed</h3>

  {% if complete_carts %}
  <div class="row">
    {% for cart, contents in complete_carts %}
      {% if cart.id != g.cart.id %}
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{cart.name}}</h5>
            <p class="card-text">
              <ul class="list-group">
                {% for qty, recipe in contents %}
                  <li class="list-group-item text-truncate">
                    {{qty}} &times {{recipe.title}}
                  </li>
                {% endfor %}
              </ul>
            </p>
            <form class="cart-form" action={{url_for('checkout', cart_id=cart.id)}}>
              <button class="btn btn-sm btn-outline-success" href={{url_for('checkout', cart_id=cart.id)}}>View Grocery List!</button>
            </form>
            <form class="cart-form" action="/carts/{{cart.id}}/copy" method="POST">
              <button class="btn btn-sm btn-outline-info">Pull recipes from cart</button>
            </form>
            
            <form class="cart-form" action="/carts/{{cart.id}}/delete" method="POST">
              <button class="btn btn-sm btn-danger">Delete Cart</button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">No Cart History for User</h5>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}