{% from 'macros.html' import render_difficulty, 
                             render_spice_level,
                             render_serving_size, 
                             create_add_to_cart_button,
                             create_protein_badge,
                             generate_image_url %}
{% extends 'recipes/recipe_base.html' %}
{% block title %} {{recipe.title}} {% endblock %}
{% block content %}
<div class="container mb-5">
    {% include 'partials/toast.html' %}
    <ul class="list-group">
            <div class="card">
            <img class="card-img-top" src="{{generate_image_url(image_path, recipe)}}" alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">{{recipe.title}}</h5>
                <p class="card-text">
                    {{create_protein_badge(recipe.category)}}
                    <p>Total Prep Time: {{recipe.prep_time}} mins</p>
                    <p>Difficulty: {{render_difficulty(recipe.difficulty)}}</p>
                    <p>Spice Level: {{render_spice_level(recipe.spice_level)}}</p>
                    <p>Serving Size: {{render_serving_size(recipe.servings)}}</p>
                </p>
            </div>
            {{create_add_to_cart_button(recipe)}}  
        </div>
        <li class="list-group-item">
            <h3>Ingredients:</h3>
            <ul>
            {% for qty, unit, name in ingredients %}
            <li>{{qty}} {{unit}} {{name}}</li>
            {% endfor %}
        </ul></li>
        <li class="list-group-item">
            <h3>Steps:</h3>
            <ol>
                {% for step in steps %}
                <li>{{step.description}}</li>
                {% endfor %}
            </ol>
        </li>
    </ul>




</div>
{% endblock %}
